.article-page{
  max-width:1300px;
  margin:0 auto;
  padding:10px 10px;
  display:grid;
  grid-template-columns: 1fr 300px;
  gap:30px;
}

.article-title,
.article-image,
.article-content,
.share-wrapper{
  grid-column:1;
}

.article-title{
  font-size:34px;
  margin:0;
  line-height:1.2;
}

.article-image{
  width:100%;
  max-height:450px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:20px;
}

.article-content{
  font-size:18px;
  line-height:1.7;
  color:#131313;
  white-space:pre-line;
}
.article-content p{
  line-height:1.8;
  font-size:18px;
}

/* ===== LAYOUT ===== */
.article-layout{
  display:flex;
  gap:30px;
  align-items:flex-start;
}

.article-main{
  flex:1;
  min-width:0;
}

.article-sidebar{
  width:0px;
  position:sticky;
  top:90px;
  grid-column:2;
}

.ad-300x600{
  width:300px;
  height:600px;
  background:rgba(0,0,0,0.04);
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* ===== TITLE + BACK ===== */
.title-row{
  display:flex;
  align-items:center;
  gap:14px;
  margin-bottom:15px;
}

.back-btn{
  position:relative;
  bottom:40px;
  background:#557af3;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
  white-space:nowrap;
}

.back-btn:hover{
  background:#504f4f;
}

/* ===== IMAGE SHARE ===== */
.image-wrapper{
  position:relative;
}

.share-corner{
  position:absolute;
  bottom:-16px;
  right:12px;
}

/* SHARE BUTTON */
.share-btn{
  background:#252525;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:20px;
  cursor:pointer;
  font-size:14px;
}

/* DROPDOWN */
.share-dropdown{
  position:absolute;
  bottom:-185px;
  right:0;
  width:200px;
  background:#fff;
  border-radius:10px;
  box-shadow:0 6px 20px rgba(0,0,0,.18);
  overflow:hidden;
  z-index:9999;
}

.share-dropdown div{
  padding:12px 14px;
  cursor:pointer;
  white-space:nowrap;
}

.share-dropdown div:hover{
  background:#f2f2f2;
}

.share-dropdown hr{
  border:none;
  border-top:1px solid #eee;
  margin:5px 0;
}

/* MOBILE */
@media(max-width:1000px){
  .article-layout{flex-direction:column;}
  .article-sidebar{width:100%;}
  .ad-300x600{width:100%;height:120px;}
}
