.technology-page {
  max-width: 1100px;
  margin: auto;
}

.tech-featured {
  display: flex;
  gap: 20px;
}

.featured-main {
  flex: 2;
}

.featured-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ad-horizontal {
  margin: 30px 0;
  text-align: center;
  padding: 15px;
  background: #f3f3f3;
}

.tech-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tech-item {
  display: flex;
  gap: 15px;
}

.pagination {
  margin: 30px 0;
  text-align: center;
}

.tech-article-page {
  display: flex;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.tech-article-main {
  flex: 2;
}

.tech-ads {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.square-ad {
  width: 300px;
  height: 250px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.small-back {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

.back-btn:hover{
  background:#504f4f;
}
.share-row {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
/* 10 article rows */
.tech-list {
  margin-top: 30px;
}

.tech-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 25px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: black;
}

.tech-text {
  flex: 1.2;
}

.tech-text h3 {
  font-size: 22px;
  margin: 10px 0;
}

.tech-text p {
  color: #555;
  font-size: 15px;
}

.meta {
  font-size: 12px;
  color: gray;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.category {
  background: #eee;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 3px;
}

.author {
  font-size: 13px;
  margin-top: 8px;
  color: #777;
}

.tech-image {
  flex: 1;
}

.tech-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.tech-row:hover h3 {
  color: #0077cc;
}