.watch-page{
  display:flex;
  justify-content:center;
  gap:40px;
  padding:30px;
  background:white;
}

/* VIDEO */
.player-container{
  width:900px;
}

.video-player{
  width:100%;
  height:520px;
  background:black;
  border-radius:12px;
}

/* Ad column layout */
.ad-right {
  display: flex;
  flex-direction: column;
  align-items: center;   /* Center the ad box */
}

/* Small back button */
.small-back-button {
  align-self: flex-start;   /* Push button to left only */
  margin-top: -30px;
  padding: 7px 14px;
  font-size: 13px;
  background-color: #557af3;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.small-back-button:hover {
  background-color: #504f4f;
}

/* Ad box styling */
.ad-box {
  width: 300px;              /* Same as Google ad width */
  height: 600px;
  display: flex;
  border-radius:10px;
  background:rgba(0,0,0,0.04);
  justify-content: center;   /* Center text horizontally */
  align-items: center;       /* Center text vertically */
  border: 1px solid #cecdcd;
}