.footer {
  background: #555555;
  color: #fff;
  padding: 25px 0;
  margin-top: 40px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}